.bg-img1{
    background-color: #000;
    background-size: cover;
    background-image: url(127064377_3517312958362952_2317348701125558911_n.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
}
.bg-img2{
    background-color: #000;
    background-size: cover;
    background-image: url(204769619_4206054736155434_627955068202920267_n.jpg);
}
.bg-img3{
    background-color: #000;
    background-size: cover;
    background-image: url(214738591_4206054422822132_5784640717873077356_n.jpg);
}